<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
   id="com.sakthivel.normalvolume"
   version="0.1.0">
    <name>System Volume</name>
    <description>PhoneGap System Volume Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,volume</keywords>
    <repo>https://github.com/sakthi60194/phonegap-plugin-normalvolume.git</repo>

    <js-module src="www/normalvolume.js" name="NormalVolume">
        <clobbers target="window.system" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NormalVolume">
                <param name="android-package" value="com.sakthivel.normalvolume.NormalVolume"/>
            </feature>
        </config-file>

        <source-file src="src/android/NormalVolume.java" target-dir="src/com/sakthivel/normalvolume" />     


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
       </config-file>
        
    </platform>          
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.VIBRATE"/>
    </config-file>
</plugin>